<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
  <% @records.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user_id) do %>
        <%= attachment_image_tag book.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
        <%= book.title %>
        <% end %>
      </td>
      <td>
        <%= book.body %>
      </td>
        <% end %>
    </tr>
  </tbody>
</table>