<% if @model == 'user' %>
  <h3>Users search for '<%= @content %>'</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |user| %>
      <tr>
        <td>
          <%= attachment_image_tag user, :profile_image,size: "40x40", fallback: "no_image.jpg" %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
        <%= link_to "Show",user_path(user.id) %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>


<% else @model == 'book' %>
  <h3>Books search for '<%= @content %>'</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
    <% @records.each do |book| %>
      <tr>
        <td>
          <%= link_to user_path(book.user_id) do %>
          <%= attachment_image_tag book.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(book.id) do %>
          <%= book.title %>
          <% end %>
        </td>
        <td>
          <%= book.body %>
        </td>
          <% end %>
      </tr>
    </tbody>
  </table>
<% end %>