<%= render 'side', users: @users , books: @books, book: @book ,user: @user %>

<% @books.each do |book| %>
<div>
<p><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %></p>
  <%= link_to book_path(book.id) do %>
  <%= book.title %>
  <% end %>
  <%= book.body %>
</div>
<% end %>