<%= render 'users/side', users: @users , books: @books, book: @book ,user: @user %>

<div class="col-md-8 offset-md-1">
  
  <h2>Books</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @books.each do |book| %>
      <td>
        <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
      </td>
      <td>
      <%= link_to book_path(book.id) do %>
      <%= book.title %>
      <% end %>
      </td>
      <td>
      <%= book.body %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
</div>

