<%= render 'users/side', users: @users , books: @books, book: @book ,user: @user %>

<div class="col-md-8 offset-md-1">

  <h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td>
      <%= link_to user_path(@user.id) do %>
        <%= attachment_image_tag @book_show.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %><br>
          <%= @book_show.user.name %>
      <% end %>
      </td>
      <td></td>
      <td>
      <%= link_to book_path(@book_show.id) do %>
      <%= @book_show.title %>
      <% end %>
      </td>
      <td>
      <%= @book_show.body %>
      </td>
      <td>
        ♡
      </td>
      <td>
      コメント数：<%= @book_show.book_comments.count %>
      </td>
      <% if @book_show.user == current_user %>
      <td>
      <%= link_to "Edit",edit_book_path(@book_show.id),class:"btn btn-success" %>
      </td>
      <td>
      <%= link_to "Destroy", book_path(@book_show.id), method: :delete,class:"btn btn-danger" %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
<!--コメント機能-->
<div class="comment">
  <% @book_show.book_comments.each do |book_comment| %>
  <%= attachment_image_tag @book_comment.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %>
  <%= book_comment.comment %>
  <% if @book_comment.user == current_user %>
  <%= link_to "Destroy", book_book_comment(book_comment.book,book_comment), method: :delete,class:"btn btn-danger" %>
  <% end %>
  <br>
  <%= book_comment.user.name %>
  <br>
  <% end %>
</div>
<div class="new-comment">
<%= form_with model:[@book_show, @book_comment], local: true do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit "送信" %>
<% end %>
</div>
<!--コメント機能-->
</div>
