<%= render 'users/side', users: @users , books: @books, book: @book ,user: @user %>

<div class="col-md-8 offset-md-1">

  <h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td>
        <%= attachment_image_tag @book_show.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %><br>
          <%= @book_show.user.name %>
      </td>
      <td>
      <%= link_to book_path(@book_show.id) do %>
      <%= @book_show.title %>
      <% end %>
      </td>
      <td>
      <%= @book_show.body %>
      </td>
    <% if @book_show.user == current_user %>
      <td>
      <%= link_to "Edit",edit_book_path(@book_show.id),class:"btn btn-success" %>
      </td>
      <td>
      <%= link_to "Destroy", book_path(@book_show.id), method: :delete,class:"btn btn-danger" %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
</div>
