<div class="row">

<%= render 'users/side', users: @users , books: @books, book: @book ,user: @user %>

<div class="col-md-8 offset-md-1">

  <h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td>
      <%= link_to user_path(@user.id) do %>
        <%= attachment_image_tag @book_show.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %><br>
          <%= @book_show.user.name %>
      <% end %>
      </td>
      <td></td>
      <td>
      <%= link_to book_path(@book_show.id) do %>
      <%= @book_show.title %>
      <% end %>
      </td>
      <td>
      <%= @book_show.body %>
      </td>
      <td>
  <!--いいね機能-->
      <div id="favorites_btn_<%= @book_show.id %>">
      <%= render 'favorites/favorite', book: @book_show %>
      </div>
  <!--いいね機能-->
      </td>
      <td>
      コメント数：<%= @book_show.book_comments.count %>
      </td>
      <% if @book_show.user == current_user %>
      <td>
      <%= link_to "Edit",edit_book_path(@book_show.id),class:"btn btn-success" %>
      </td>
      <td>
      <%= link_to "Destroy", book_path(@book_show.id), method: :delete,class:"btn btn-danger" %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
<!--コメント機能-->

  <div id="comments_area">
  <%= render 'book_comments/index', book_show: @book_show %>
  </div>

<div class="new-comment">
<%= form_with model:[@book_show, @book_comment], local: true do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit "送信" %>
<% end %>
</div>
<!--コメント機能-->
</div>
</div>
